# Importando a biblioteca Pandas

In [10]:
import pandas as pd

# Importando o dataset

In [54]:
df = pd.read_csv(r".\datasets\Gapminder.csv", sep=";")
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

# Renomeando as colunas

In [56]:
df.rename(columns = {
    'country':'Pais', 'continent':'Continente', 'year':'Ano', 
    'lifeExp':'ExpVida', 'pop':"Populacao", 'gdpPercap':'PIB_PerCapta'  }, inplace=True
)
display(df.head())
df.tail()

          Pais Continente   Ano  ExpVida  Populacao  PIB_PerCapta
0  Afghanistan       Asia  1952   28.801    8425333    779.445314
1  Afghanistan       Asia  1957   30.332    9240934    820.853030
2  Afghanistan       Asia  1962   31.997   10267083    853.100710
3  Afghanistan       Asia  1967   34.020   11537966    836.197138
4  Afghanistan       Asia  1972   36.088   13079460    739.981106

          Pais Continente   Ano  ExpVida  Populacao  PIB_PerCapta
3307  Zimbabwe     Africa  1987   62.351    9216418    706.157306
3308  Zimbabwe     Africa  1992   60.377   10704340    693.420786
3309  Zimbabwe     Africa  1997   46.809   11404948    792.449960
3310  Zimbabwe     Africa  2002   39.989   11926563    672.038623
3311  Zimbabwe     Africa  2007   43.487   12311143    469.709298

# Total de linhas e colunas

In [26]:
df.shape

(3312, 6)

# Tipo de dados

In [27]:
df.dtypes

Pais             object
Continente       object
Ano               int64
ExpVida         float64
Populacao         int64
PIB_PerCapta    float64
dtype: object

# Descrição dos dados

In [35]:
df.describe()

               Ano      ExpVida     Populacao   PIB_PerCapta
count  3312.000000  3312.000000  3.312000e+03    3312.000000
mean   1980.301630    65.246871  3.161489e+07   11317.115805
std      16.927294    11.768412  1.041193e+08   11369.142739
min    1950.000000    23.599000  5.941200e+04     241.165876
25%    1967.000000    58.337500  2.678572e+06    2514.625266
50%    1982.000000    69.610000  7.557218e+06    7838.505123
75%    1996.000000    73.657750  1.958522e+07   17357.879170
max    2007.000000    82.670000  1.318683e+09  113523.132900

# Filtrando o conjunto de dados

In [38]:
Oceania = df.loc[df.Continente == 'Oceania']
Oceania.head()

     Pais Continente   Ano  ExpVida  Populacao  PIB_PerCapta
975  Fiji    Oceania  1962   56.494     421869   2039.393277
976  Fiji    Oceania  1967   58.607     485000   2170.073285
977  Fiji    Oceania  1972   60.642     544000   2797.759484
978  Fiji    Oceania  1977   62.669     599339   3182.569600
979  Fiji    Oceania  1982   64.683     658906   3209.257468

# Agrupando dados

In [43]:
df.groupby(df.Continente)['Pais'].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [46]:
df.groupby(df.Ano)['ExpVida'].mean().head()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
Name: ExpVida, dtype: float64

In [57]:
df.groupby(df.Ano)['ExpVida'].mean().head()

Ano
1950    62.002568
1951    65.904167
1952    49.206867
1953    66.674563
1954    67.459817
Name: ExpVida, dtype: float64